#phone {
    background: #000000;
    width: 470px;
    height: 800px;
    clear:both;
    border-radius: 40px;
}

#face {
    background: #FFFFFF;
    float: left;
    margin: 75px 25px;
    width: 420px;
    height: 650px;
}

#window_base {
    float: left;
}

#window_1 {
    /*display: none;*/
}

#window_2 {
    display: none;
}

#window_2 .window_content {
    height: 380px;
}


/* Toolbox */
#toolbox {
    clear: both;
}
#input_field_wrap {
}
#input_field_wrap label {
}
#input_field_wrap input {
}


/* Keyboard */
#keyboard {
    background: #888888;
    width: 420px;
    height: 270px;
    clear:both;
}

#keyboard .keyrow {
    clear: both;
}
#keyboard_r2 {
    margin-left: 20px;
}

#keyboard .button {
    height: 65px;
    float: left;
    border-radius: 5px;
    margin: 1px;
}

#keyboard .letter {
    background: #CCCCCC;
    width: 40px;
}
#keyboard .control {
    background: #444444;
}
#keyboard .control span {
    padding-top: 16px;
}

#keyboard_r3 .control {
    width: 60px;
}
#keyboard_r4 #button_sym {
    width: 30px;
}

#keyboard .button span {
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-family: sans-serif;
}
#keyboard .letter .alt {
    font-size: .7em;
    height: 45%;
}

#keyboard .arrow .main {
    font-size: 1.3em;
}

#keyboard .control .main {
    vertical-align: middle;
    height: 100%;
    color: #EEEEEE;
}

#keyboard #button_sym {
    width: 60px;
}
#keyboard #button_mic {
    width: 40px;
}
#keyboard #sym_microphone {
    margin-left: 8px;
    margin-top: 12px;
}

#keyboard #button_space {
    width: 205px;
}
#keyboard #button_return {
    width: 60px;
}

/* Microphone */
#sym_microphone div {
    border-color: #FFF;
}
.mic {
    background: #FFF;
    border-radius: 15px;
    width: 11px;
    height: 17px;
    margin-left: 6px;
}
.cradle {
    /*height: 15px;
    width: 3px;
    transform: skew(-45deg);*/
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-radius: 0 0 16px 16px;
    width: 15px;
    height: 4px;
    margin-top: -3px;
    margin-left: 1px;
}
.pole {
    background: #FFF;
    height: 5px;
    width: 4px;
    margin-left: 10px;
}
.foot {
    background: #FFF;
    height: 3px;
    width: 14px;
    margin-left: 5px;
}