#phone {
    background: #000000;
    width: 425px;
    height: 1px; /*800px;*/
    clear:both;
}

#face {
    background: #FFFFFF;
    float: left;
    margin: 75px 25px;
    width: 375px;
    height: 1px; /*650px;*/
}

#window_base {
    float: left;
}


/* Toolbox */
#toolbox {
    clear: both;
}
#input_field_wrap {
}
#input_field_wrap label {
}
#input_field_wrap input {
}


/* Keyboard */
#keyboard {
    background: #888888;
    width: 425px;
    height: 275px;
    clear:both;
}

#keyboard .keyrow {
    clear: both;
}
#keyboard_r2 {
    margin-left: 10px;
}

#keyboard .button {
    height: 40px;
    float: left;
    border-radius: 5px;
    margin: 1px;
}

#keyboard .letter {
    background: #CCCCCC;
    width: 20px;
}
#keyboard .control {
    background: #444444;
}
#keyboard_r3 .control {
    width: 30px;
}
#keyboard_r4 #button_sym {
    width: 30px;
}

#keyboard .button span {
    display: block;
    text-align: center;
}
#keyboard .letter .alt {
    font-size: .7em;
    height: 45%;
}

#keyboard .arrow .main {
    font-size: 1.3em;
}

#keyboard .control .main {
    vertical-align: middle;
    height: 100%;
    color: #EEEEEE;
}

#keyboard #button_sym {
    width: 40px;
}
#keyboard #control_sym {
    font-size: .7em;
}
#keyboard #button_mic {
    width: 20px;
}
#keyboard #button_space {
    width: 95px;
}
#keyboard #button_return {
    width: 40px;
}


/* Microphone */
#sym_microphone div {
    background: #000;
    border-color: #000;
}
.mic {
    border-radius: 15px;
    width: 15px;
    height: 25px;
    margin-left: 8px;
}
.cradle {
    /*height: 15px;
    width: 3px;
    transform: skew(-45deg);*/
    border-width: 0 5px 5px 5px;
    border-style: solid;
    background: none;
    border-radius: 0 0 16px 16px;
    width: 21px;
    height: 7px;
    margin-top: -5px;
}
.pole {
    height: 5px;
    width: 3px;
    margin-left: 15px;
}
.foot {
    height: 3px;
    width: 15px;
    margin-left: 9px;
}